body{
    background-color: #9e51f0;
}

.container{
    padding-top: 100px;
    width: 200px; 
    margin-left: auto;
    margin-right: auto; 
}

.loading {
    width: 80px;
    height: 80px;
    background-color: #fff;
    margin: 100px, auto;
    animation: example 3s infinite, alternate;
}

@keyframes example{
    0% {
        transform: rotate(0deg);
    }
    25% {
    transform: rotate (45deg);
    }
    50% {
    transform: rotate (90deg);
    opacity: 0;
    }
    75% {
    transform: rotate (135deg);
    }
    100% {transform: rotate(180deg);
     }
}